.container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.main {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin-top: 3rem;
}

.search {
    background-color: #fff9;
    position: relative;
    width: 100%;
}

.recommended {
    position: relative;
    margin-top: 2rem;
    height: calc(100vh - 150px);
}
.listPanel {
    position: relative;
    height: calc(100% - 28px);
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.listPanel::-webkit-scrollbar {
    display: none;
}

.title {
    font-size: 1.1rem;
    margin: 0;
}

.list {
    margin: 1rem 0 0 0;
    padding: 0;
    list-style: none;
}
.listItem {
    margin-bottom: 8px;
}
.listItem:last-child {
    margin-bottom: 2rem;
}

.itemContainer {
    position: relative;
    padding: 5px;
}
.item {
    position: relative;
    z-index: 1;
}
.delete {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.selected {
    background-color: #e6e6e6;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.name span {
    text-transform: capitalize;
    font-weight: 600;
    color: #6578b4;
    mix-blend-mode: screen;
}

.datetime {
    flex-shrink: 0;
}

.ago {
    font-size: .9rem;
    color: #a3a0a2;
    margin-left: 8px;
}
.date {
    font-size: .8rem;
    color: #a3a0a2;
}

.link {
    text-decoration: none;
    position: relative;
    margin: 0;
    padding: 0;
}
.link:hover {
    text-decoration: underline;
}
.images {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 10px;
    overflow-x: hidden;
}
.thumb {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 70px;
    object-fit: contain;
}
.thumb + .thumb {
    margin-left: 5px;
}
.itemTop {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.deleteIcon {
    color: #f66c;
    mix-blend-mode: screen;
}